/* PADRÃO ÁGIL FLEXBOX */
/* by Lucas Pereira */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.dflex{
    display: flex;
}
.fbw{
    flex-wrap: wrap;
}
.fcoluna{
    flex-direction: column;
}
.clear{
    clear: both;
    display: block;
}
.table{
    display: table;
}
/* ALINHAMENTOS HORIZONTAIS */
.just-center{
    justify-content: center;
}
.just-sa{
    justify-content: space-around;
}
.just-sb{
    justify-content: space-between;
}
.just-start{
    justify-content: flex-start;
}
.just-end{
    justify-content: flex-end;
}
/* ALINHAMNETOS PP */
.alg-center{
    align-items: center;
}
.alg-start{
    align-items: flex-start;
}
.alg-end{
    align-items: end;
}
.alg-base{
    align-items: baseline;
}
/* ALINHAMENTOS C/HIGHT */
.alg-cont-center{
    align-content: center;
}
.alg-cont-start{
    align-content: flex-start;
}
.alg-cont-end{
    align-content: flex-end;
}
.alg-cont-space{
    align-content: space-between;
}
.alg-cont-stretch{
    align-content: stretch;
}
.back-red{
    background: red;
}
/* COLUNAS DEFAULT 1200px*/
.w20{
    width: calc(20% - 5px);
}
.w30{
    width:calc(30% - 5px);
}
.w50{
    width: calc(50% - 5px);
}
.w70{
    width: calc(70% - 5px);
}
.w80{
    width: calc(80% - 5px);
}
.w100{
    width: 100%;
}
.h100{
    height: 100vh;
}
body{
    height: 100vh;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Maven Pro', sans-serif;
    color: white;
}
.location{
    height: 30vh;
}
.temperature{
    height: 30vh;
}
.degree-sec span{
    margin-left: 10px;
    font-size: 30px;
}
.degree-sec h2{
    font-size: 40px;
}















@media screen and (max-width: 1366px){
    .container{
        max-width: 1050px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 576px;
    }
    .w20{
        width: 100%;
    }
    .w30{
        width: 100%;
    }
    .w50{
        width: 100%;
    }
    .w70{
        width: 100%;
    }
    .w80{
        width: 100%;
    }
       
}
@media screen and (max-width: 768px){
    .container{
        padding: 0 3%;
    }
}